# Core
numpy>=1.26
pandas>=2.1

# Visualization
matplotlib>=3.8
seaborn>=0.13

# Machine Learning
scikit-learn>=1.4
scikit-image>=0.23

# PyTorch (CPU by default)
# torch>=2.2
# torchvision>=0.17
# torchaudio>=2.2
torchsummary>=1.5

# Notebooks
jupyter>=1.0
ipykernel>=6.29
